<div class="container">


  <div class="all-questions">
      <% @questions.each do |question| %>
     <ul> 
      <li>
        <a href="/questions/<%=question.id %>"> <%= question.title %></a>
      </li>
     </ul> 
      <% end %>
  </div>

  <form action="/questions/new" method="get" id="question">
    <input type="submit" value="Submit Question">
  </form> 



</div>
