<div class="container">
<br>
<form action="/questions/new" method="post">
	<input type="text" name="question_title">
	<input type="text" name="question_content">
	<input type="submit" value="Submit Question">
</form>
</div>