<div class="container">
<br>
<form action="/questions" method="post">
	<input type="text" name="title" placeholder="Title of Your Question">
	<input type="text" name="content" placeholder="Body of Your Question">
	<input type="submit" value="Submit Question">
</form>
</div>