<div class="container">
<br>

	<div class="question">
		<div id="question-title"> <%= @question.title %></div>
		<div id="question-content"> <%= @question.content %> </div>
	</div>

	<form action="/response" method="get">
		<input type="submit" value="Respond">
	</form>


	<form action="/response" method="post">
		<input type="text" name="content">
		<input type="submit" value="Submit Response">
	</form>


</div>
