#Login page

<h1>Please login!</h1>
<br>
<!-- does the action go to /login or /users/:id ? -->
<form action="/login" method>
  <input type="text" name="username" placeholder="username"/>
  <br>
  <input type="text" name="password" placeholder="password"/>
  <br>
  <input type="submit" value="submit!">
</form>

