<h3>DBC OVERFLOWWWWWWWW</h3>

  <form style="text-align:left;" action="/questions" method="get">
    <input type="submit" value="Home, sweet home">
  </form>


  <form style="text-align:right;" action="/login" method="post">
    <input type="submit" value="Sign Up">
  </form>
  <form style="text-align:right;" action="/user/new" method="post">
    <input type="submit" value="Log In">
  </form>
