<div class="container">
	<h3>DBC OVERFLOW</h3>

	  <a id="home-nav" href="/questions"> Home</a>


	    <form id="right-nav" action="/logout" method="post">
	    <input type="hidden" name = "_method" value="DELETE">
    	<input type="submit" value="Log Out">
  		</form>

 </div>
