<div class="container">

		<h3 id="dbc-overflow">DBC OVERFLOW</h3>

	  <a class="home-nav" href="/questions"> Home</a>
    <a class="user-profile" href="/users/<%=current_user.id%>"> Profile</a>

	    <form class="right-nav" action="/logout" method="post">
	    <input type="hidden" name = "_method" value="DELETE">
    	<input type="submit" value="Log Out">
  		</form>

 </div>
