<h3>DBC OVERFLOWWWWWWWW</h3>

  <form style="text-align:left;" action="/questions" method="get">
    <input type="submit" value="Home, sweet home">
  </form>

  <form style="text-align:right;" action="/logout" method="post">
    <input type="submit" value="Log Out">
  </form>

