<%= erb :_header_out %>

<h1> ADD A RESPONSE </h1>

  <form method="post" action="/response">
    <ul>
    <p><label> Respond Here: </label> </p>
    <input style='height: 50px; width: 250px' name="content" type="text" >
    <p><input type="submit" value="Add my response!"><p>
  </ul>
  </form>
